body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 20px;    
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, rgba(325,325,0,0), rgb(225, 176, 0.5));
    color: white;
    text-align: center;
    padding: 15px 0;
}
h1 {
    margin: 0;
}
h2 {
    padding-right: 40%;
    background-color: rgba(227, 224, 56, 0.9);
}
p{
    color: rgb(21, 21, 21);
    background-color: aliceblue;
    margin-right: 5px;
    padding-right: 5px;
}
section {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top, rgba(325,225,0,0), rgba(0,225,155,1));
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
}
section:hover {
    background-color: rgba(234, 24, 24, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: aqua;
}

input, select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #28a745;
    color: white;
    border: solid;
    border-color: rgb(199, 96, 255);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #ff330f;
}
button + button {
    background-color: #007bff;
    margin-left: 10px;
}
button + button:hover {
    background-color: #0056b3;
}
#home {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    height: 100px;
    border-radius: 35%;
}
#cars {
    background-image:url('864f4c29-66a1-4365-9d18-368054d3b009.webp');
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}
#carlistbody {
    background-image:url('864f4c29-66a1-4365-9d18-368054d3b009.webp');
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#carList {
    background-image:url('864f4c29-66a1-4365-9d18-368054d3b009.webp');
    opacity: 0.9;
    margin-right: 2px;
    background-size: cover;
    background-attachment: fixed;
}
#home:hover {
    background-image: linear-gradient(to right, rgba(325,225,0,0), rgba(255, 37, 37, 0.658));
    background-size: cover;
    background-position: center;
    height: 100px;
    border-radius: 35%;
    text-shadow:  5px 10px 15px rgb(249, 209, 9);;
}